<div class="goals-automatic-wrapper button-container">
  <div *ngIf="isUpdate==false">
    <button
      mat-raised-button
      class="LoginBtn login-btn-style"
      color="primary"
      type="submit"
      (click)="addGoal()"
    >
      Add
    </button>
  </div>
  <div *ngIf="isUpdate==true">
    <button
      mat-raised-button
      class="LoginBtn login-btn-style"
      color="primary"
      type="submit"
      (click)="updateGoal()"
    >
      Update
    </button>
  </div>
  <div *ngIf="isUpdate==true">
    <button
      mat-raised-button
      class="LoginBtn login-btn-style"
      color="primary"
      type="submit"
      (click)="resetGoal()"
    >
      Reset
    </button>
  </div>
</div>
<mat-divider></mat-divider>

<div class="add-website">
  <mat-form-field class="website-input">
    <mat-label>Add Time In Minutes</mat-label>
    <input [(ngModel)]="Goal.total_time_count" matInput placeholder="Add Time In Minutes" />
  </mat-form-field>
</div>

<mat-divider></mat-divider>

<div class="add-website">
  <mat-form-field class="website-input">
    <mat-label>Add a website</mat-label>
    <input
      #websiteInput
      matInput
      placeholder="Ex. Google.com"
      [formControl]="input"
      (keyup.enter)="addWebsite(input.value || '')"
    />
  </mat-form-field>

  <button
    class="add-btn"
    (click)="addWebsite(input.value || '')"
    mat-raised-button
    color="primary"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="websites-list">
  <table>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let website of Goal.domain">
      <td>{{ website}}</td>
      <td>
        <button mat-button color="warn" (click)="deleteSite(website)">
          <mat-icon class="delete-btn"> delete </mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
