<div class="loginForm">
  <div class="MainForm_div">
    <h1 class="LoginHead">SignUp Form</h1>
    <form class="example-form" (ngSubmit)="submitForm()">
      <mat-form-field class="div_form">
        <mat-label>Enter Your First Name</mat-label>
        <input type="text" matInput placeholder="your first name" [(ngModel)]="formData.firstName" name="firstName" />
      </mat-form-field>
      <mat-form-field class="div_form">
        <mat-label>Enter Your Last Name</mat-label>
        <input type="text" matInput placeholder="your last name" [(ngModel)]="formData.lastName" name="lastName" />
      </mat-form-field>

      <mat-form-field class="div_form">
        <mat-label>Enter Your Email</mat-label>
        <input type="email" matInput placeholder="your email" [(ngModel)]="formData.email" name="email" />
      </mat-form-field>
      <mat-form-field class="div_form">
        <mat-label>Enter Your Password</mat-label>
        <input type="password" matInput placeholder="your password" [(ngModel)]="formData.password" name="password" />
      </mat-form-field>
      <mat-form-field class="div_form">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="confirm password" [(ngModel)]="formData.confirmPassword" name="confirmPassword" />
      </mat-form-field>
    
      <div>
        <button mat-raised-button class="LoginBtn" color="primary" type="submit">
          Register
        </button>
      </div>
    </form>
    <div>
      <p class="Forget_dat2" routerLink="/login">Back to Login ?</p>
    </div>
  </div>
</div>
