
<div class="mainDiv-Accor">
<mat-stepper style="background-color: rgb(255, 255, 255) !important;" orientation="vertical" [linear]="false" #stepper>
<mat-step [stepControl]="firstFormGroup">
    <form class="mt-1 form" [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your Asana API Credentials</ng-template>
        <mat-form-field appearance="fill">
            <mat-label>API Token goes here</mat-label>
            <textarea matInput
                    formControlName="apiToken"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
            </textarea>
            <mat-error *ngIf="
                firstFormGroup.get('apiToken')?.invalid &&
                firstFormGroup.get('apiToken')?.touched &&
                firstFormGroup.get('apiToken')?.errors &&
                firstFormGroup.get('apiToken')?.errors?.['pattern']">
                Incorrect pattern, please see the hint
            </mat-error>    
        </mat-form-field>
        <div class="hint">
            <mat-icon (click)="goTo('https://drive.google.com/drive/folders/1lNteJ4-gEMd_a9HX_ALvj4vnnMPDlX0y?usp=sharing')" matTooltip="Click here for help">help</mat-icon>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="saveData('apiToken', firstFormGroup)">Save</button>
            <mat-checkbox class="example-margin"
                        [checked]="false"
                        formControlName="toStorage"
                        color="primary">
                        To storage
            </mat-checkbox>
        </div>
    </form>
</mat-step>
<mat-step [stepControl]="secondFormGroup">
    <form class="mt-1 form" [formGroup]="secondFormGroup">
    <ng-template matStepLabel>Fill out your Asana task id</ng-template>
    <mat-form-field appearance="fill">
        <mat-label>Task id</mat-label>
        <input matInput formControlName="taskId" placeholder="Task id">
        <mat-error *ngIf="
            secondFormGroup.get('taskId')?.invalid &&
            secondFormGroup.get('taskId')?.touched &&
            secondFormGroup.get('taskId')?.errors &&
            secondFormGroup.get('taskId')?.errors?.['pattern']">
            Incorrect pattern, please see the hint
        </mat-error>
    </mat-form-field>
    <div class="hint">
        <mat-icon (click)="goTo('https://drive.google.com/file/d/16zCCEFWZwFLD4Rap7FWmTuW1I5r6xenv/view?usp=sharing')" matTooltip="Click here for help">help</mat-icon>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="saveData('taskId', secondFormGroup)">Save</button>
        <mat-checkbox class="example-margin"
                    [checked]="false"
                    formControlName="toStorage"
                    color="primary">
                    To storage
        </mat-checkbox>
    </div>
    </form>
</mat-step>
<mat-step [stepControl]="thirdFormGroup">
    <form class="mt-1 form" [formGroup]="thirdFormGroup">
    <ng-template matStepLabel>Fill out assignee email</ng-template>
    <mat-form-field appearance="fill">
        <mat-label>Assignee email</mat-label>
        <input matInput formControlName="assigneeEmail" placeholder="Assignee email">
        <mat-error *ngIf="
            thirdFormGroup.get('assigneeEmail')?.invalid &&
            thirdFormGroup.get('assigneeEmail')?.touched &&
            thirdFormGroup.get('assigneeEmail')?.errors &&
            thirdFormGroup.get('assigneeEmail')?.errors?.['pattern']">
            Incorrect pattern
        </mat-error>
        <mat-error *ngIf="thirdFormGroup.get('assigneeEmail')?.errors?.['ivalidEmail']">
            Email is not valid
        </mat-error>
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" (click)="saveData('assigneeEmail', thirdFormGroup)">Save</button>
        <mat-checkbox class="example-margin"
                    [checked]="false"
                    formControlName="toStorage"
                    color="primary">
                    To storage
        </mat-checkbox>
    </div>
    </form>
</mat-step>
</mat-stepper>
</div>
<ab-continue-btn label="Continue with the extension" (click)="save()"></ab-continue-btn>